<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- My Style -->
    <link rel="stylesheet" href="/PHPFramework/public/assets/css/styles.css">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="/PHPFramework">Home</a></li>
            <li><a href="/PHPFramework/posts/index">Posts</a></li>
            {% if current_user %}
            <li><a href="/PHPFramework/profile/show">Profile</a></li>
            <li><a href="/PHPFramework/logout">Logout</a></li>
            {% endif %}
        </ul>



    </nav>

    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
        {{ message.body }}
    </div>
    {% endfor %}

    {% block body %} {% endblock %}
</div>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- JQuery Validation -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

{% block footer %}{% endblock %}
</body>
</html>