<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <a href="/PHPFramework">Home</a> |
    <a href="/PHPFramework/posts/index">Posts</a> |
    <a href="/PHPFramework/signup/new">Signup</a>
</nav>
    {% block body %} {% endblock %}

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- JQuery Validation -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

{% block footer %}{% endblock %}
</body>
</html>